<li>
  <%= gravatar_for user, size: 50 %><!--  -->
  <%= link_to user.name, user_path(user) %><!-- -->

  <!-- 削除用リンク(管理者かつ自分以外のユーザーに対して有効) -->
  <% if current_user.admin? && !current_user?(user) %><!--  -->
  | <%= link_to "delete", user_path(user), method: :delete, data: {confirm:
  "本当に削除しますか？"} %><!-- -->
  <% end %>
</li>
